<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bootstrap.css" rel="stylesheet" integrity="sha256-nKQVXFJ5JtDJlI5p1UcSf0JOFudCj9RgjBDsJSZPsS4= sha512-dbadXecsBCgqQ5XGx6SG+bO4vsfzznX6/NfAG4CuzLi76wcdLGAw2KIcsLyv7H5XsEGq0zaznpxDCAEIX9pdYA==" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    {{> loginButtons}}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Growth Tribe Academy</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <h1>Rank your growth hacking skills</h1>
    <button type="button" class="btn btn-primary">Maak skills aan</button>
    <br>

    <br>
    <div class="row">

      <div class="col-md-8">
        <ul class="list-group">
          {{#each skills}}
            {{> skill}}
          {{/each}}
        </ul>
      </div>

      <div class="col-md-4">
        <div class="well well-lg">
          <h3 class="text-center">Your growth hacking grade</h3>
          <h1 class="text-center">{{total}} </h1>
        </div>
      </div>
    </div>


    <footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright Growth Tribe Academy 2015</p>
      </div>
    </footer>
  </div>



</body>

<template name="skill">

  
        <li class="list-group-item">


        <form class="form-inline">
           {{description}} - {{_id}}

          <div class="dropdown" id="{{_id}}">
            <button class="" type="button" data-toggle="dropdown">{{grade}}
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a data-skillid="{{_id}}" href="#">1</a></li>
              <li><a data-skillid="{{_id}}" href="#">2</a></li>
              <li><a data-skillid="{{_id}}" href="#">3</a></li>
              <li><a data-skillid="{{_id}}" href="#">4</a></li>
              <li><a data-skillid="{{_id}}" href="#">5</a></li>
            </ul>
          </div>

        </form>


      <br>
        </li>
</template>



